<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest.excel.exportAndImportExcel.ExcelTestMapper">
    <insert id="batchInsert" >

  </insert>
    <select id="selectById" resultType="ExcelTest">
           select * from excel_test where id=#{id}
    </select>
</mapper>